/*Element*/
li{

}

/*class*/
.hello{

}

/*id*/
#name{

}

/*Star selector, does all the page*/

* {
  border: 1px solid lightgrey;
}

/*Descendent Selector*/
/*This example selects all anchors in li*/
li a {
  color: orange;
}

/*Adjacent Selector*/
/*Selects everything that comes after an element*/
/*ul's that are adjectent to h4*/
h4 + ul {
  border:4px solid blue;
}

/*Attribute Selector*/
/*Select elements based of whatever attribute*/
a[href="http://www.google.com"] {
  background: black;
}
/*Often select by type too*/
input[type="checkbox"] {
  background:orange;
}

/*nth of type*/
/*Takes a number and selects every nth of an element*/
/*select every 10th paragraph or 3rd ul*/
/*Selects across all groups, probably able to specify where if you want*/
li:nth-of-type(3){
  background: purple;
}
li:nth-of-type(even){
  background: steelblue;
}
